.besar-icon80 {
    width: 80%;
}

.besar-icon100 {
    width: 100%;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font22 {
    font-size: 22px;
}

.font32 {
    font-size: 32px;
}

.radius15 {
    border-radius: 15px;
}

.pad10 {
    padding: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.bold {
    font-weight: bold;
}

.gambar_tengah {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.kiri1 {
    margin-left: 1%;
}

.kiri2 {
    margin-left: 2%;
}

.kiri3 {
    margin-left: 3%;
}

.kiri4 {
    margin-left: 4%;
}

.kanan1 {
    margin-right: 1%;
}

.kanan2 {
    margin-right: 2%;
}

.kanan3 {
    margin-right: 3%;
}

.kanan4 {
    margin-right: 4%;
}

.besar-icon48p {
    width: 48px;
}

.bawah10p {
    margin-bottom: 10px;
}

.warna_dasar_sistem {
    background-color: #34495e;
}

.warna_dasar_putih {
    background-color: white;
}

.warna_tulisan_hijau {
    color: green;
}

.warna_tulisan_merah {
    color: red;
}

svg {
    height: 600px;
}